body {
    text-align: center;
    padding-top: 5rem;
}

select {
    font-size: larger;
    margin-top: 3rem;
}


#result {
    margin-top: 5rem;
    padding: 10px;
    display: inline-block;
    font-size: large;
}